@import '../../assets/scss/style.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background: #f6f5f7;
    font-family: 'Nunito', sans-serif;
    color: #666666;
    font-size: 1.2rem;
}
