@mixin valid {
    box-shadow: 0px 0px 4px green;
}

@mixin inValid {
    box-shadow: 0px 0px 4px red;
}

body {
    margin: 0;
    padding: 0;
}

section {
    .login_from__container {
        display: grid;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        .login_form__header {
            text-align: center;
        }
        .login_form__form_container {
            display: grid;
            grid-template-rows: 50px 1fr;
        }
    }
}

form {
    &.login_form {
        .inValid {
            @include inValid
        }
        .valid {
            @include valid
        }
    }
}